* {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li {
	list-style: none;
}


body{
	font-family: 'Open Sans', sans-serif;
}
header{
	width: 100%;
	background: #000;
	display: flex;
}
.header__logo {
	text-transform: uppercase;/*Все буквы заглавные*/
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 30px;/*Отступ сверху до MyCompany*/
	margin-left: 8%;/*Отступ с лева до MyCompany*/
}
nav{
	margin-top: 30px;/*Отступ сверху от грани*/
	margin-left: 29%;/*Отступ с лева до MyCompany*/
}
.topnav a{
	color: #fff;
	text-align: center;
	padding: 8px 16px;/*8 одступ от почерка до тег "a", 16 одступи между тегами "а"*/
	font-size: 16px;
	font-weight: bold;
}
.topnav a:hover{ /*Оранж подчерк под тегами "a"*/
	border-bottom: 3px solid #fcac45;
}
.topnav .icon{
	display: none;/*Пропадає значок бургер-меню*/

}

main{
	display: flex;
	flex-direction: column;/*Направления flex-блоков в колонку*/
	width: 100%;
}

main .main__welcome{
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
}

main .main__welcome p{
	color: #999999;
	font-size: 20px;	
}

main .main__welcome h1{
	color: #999999;
	font-size: 44px;
	font-weight: lighter;	
}
.main__welcome h1:after{
	display: none;
}

.mycompany{
	color: #fcac45;
	font-size: 44px;
	font-weight: bold;
}
.
.wrapper{
	width: 76%;
	margin: 0 auto;
}

main .main__about{
	display: flex;
	padding: 100px 130px 100px 130px;
}

.about__right{
	margin-left: 175px;
}

.about__right h1{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	font-weight: lighter;
}

.about__right h1:after{
	display: none;
}
.bold{
	font-weight: bold;
}
.about__right p{
	margin: 30px 0px 50px 0;
	color: #999999;
	text-align: left;
}
.about__right li{
	background: url(img/mark.png) 0px no-repeat;
	padding-left: 25px;
	margin-top: 10px;
	color: #5a5a5a;
	font-style: oblique;
}
.solid{
	color: #5a5a5a;
	font-weight: bold;
	font-style: normal;
}
.mw-100{
	min-width: 100%;
}



.main__team{
	background: #000;
	text-align: center;
	padding: 100px 110px 195px 110px;
	color: #fff;
}
.main__team h1{
	font-size: 30px;
	padding-bottom: 30px;
}
/*.line{
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 46.6%;
	margin-bottom: 85px;
}
*/
.photo{ /*сірі круги замість фото*/
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.team__cards{/**/
	display: flex;/*розположення горизонтально*/
}
.card{
	margin: 0 30px;
}
.name{
	font-size: 20px;
	margin-bottom: 7px;
}
.position{
	font-size: 16px;
	margin-bottom: 30px;
}
.about__position{
	font-size: 14px;
}

.main__services{
	padding: 0 130px 0 130px;
}
.services__cards{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}
.main__services h1{
	text-align: center;
	padding: 65px 0 30px 0;
	color: #222222;
}
.main__services p{
	color: #6c6c6c;
	margin-bottom: 100px;
	font-size: 16px;
}
.services__card h4{
	margin-top: 20px;	
	margin-bottom: 15px;
	font-size: 17px;
}



.main__clients{
	background: #000;
	padding: 100px 200px 200px 200px;
	color: #fff;
	text-align: center;
}
.clients{
	justify-content: center;
}
.main__clients h1{
	margin-bottom: 30px;
	font-weight: normal;
}
.bold_clients{
	font-weight: bold;
}
.main__clients img{
	margin-top: 18px;
	margin-left: 35px;
}


.main__work{
	text-align: center;
	padding: 60px 150px;
}
.main__work h1{
	margin-bottom: 30px;
}
.main__work p{
	margin: 0 31px 110px;
	color: #6a6868;
	font-size: 16px;
	text-align: center;
}



.main__work img:hover{ /* при наведении на картинку она 
						будет менять прозрачночть 10%*/
	opacity: 0.9;
}


.main__testimonials{
	background: #000;
	text-align: center;
	color: #fff;
	padding: 10px 120px 150px 120px;	
}
.main__testimonials .testimonial{
	text-transform: uppercase;
	margin-bottom: 50px;
	font-size: 18px;
}
.main__testimonials h1{
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 30px;
	font-weight: lighter;	
}



.contact__form {
	padding: 40px 0 100px 0;
}
.contact__form h1,p{
	text-align: center;
}
.contact__form h1{
	color: #000;
	margin-bottom: 30px;
	text-align: center;
	font-size: 33px;
	text-decoration: bold;
}


.contact__wrapper{
	width: 753px;
	margin: 0 auto;
	color: #636363; 
}

.red{
	color: red;
}
form p{
	text-align: left;	
}

.form__inputs{
	display: flex;
}
form{
	margin-top: 85px;
}
input{
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}
input:firs-of-type{
	margin-right: 24px;
}
textarea{
	width: 100%;
	height: 163px;
}
input, textarea{
	border: 1px solid #999999;
	margin-top: 5px;
}
.button__block{
	display: flex;
	justify-content: flex-end;
}
input[type=submit]{
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: #fff;
	margin-right: 0;
	margin-top: 20px;
}

h1:after{
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}
footer{
	width: 100%;
	height: auto;
	background: #222222;
	padding: 12px 0 12px 0;
}
.social{
	display: flex;
	justify-content: center;
}
.social img{
	margin-left: 12px;
}
.social img:hover{
	opacity: 0.6;
}


@media screen and (max-width: 1300px) {
	nav{
		margin-left: 20%;
	}
}
@media screen and (max-width: 1440px) {
	.line1 img{
		height: 195px;
		width: 216px;
	}
	.line2 img{
		height: 195px;
		width: 216px
	}
	.line3 img{
		height: 195px;
		width: 216px
	}

}

@media screen and (max-width: 1200px) {
	nav{
		margin-left: 10%;
	}
}


@media screen and (max-width: 1123px) {
	.topnav a{
		display: none;
	}
	.topnav a.icon{     /*бургер-меню*/
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px; 
	}
	nav{
		width: 100%;/*бургер-меню здвигаєм до правого края*/
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
	height: 340px;/*при нажатии бургер-меню висота header будет 340 px*/
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}




	main .main__welcome {
		padding: 50px 0 50px 0;
	}
	main .main__welcome p{
		font-size: 14px;
	}
	main .main__welcome h1{
		font-size: 25px;
	}
	.mw-100{
	max-width: 100%;
	}

	.main__about{
		flex-direction: column;/*в адаптивности все йде вертикально*/
	}
	.about__right{
		text-align: center;
		margin-left: 0;
	}
	.about__right li{
		text-align:left;
	}
	.about__right h1{
		margin-top: 10px;
		font-kerning: 20px;
	}



	.team__cards{
		flex-direction: column;/*при изминении екрана стоновлятся в колонку*/
	}

	.services__cards{
		grid-template-columns: auto;
	}

	.clients img{
		margin-left: 25px;
	}
	



	.line1 img:not(:first-child){/*все кроме первого елемента будут удалены*/
		display: none;
	}
	.line2 img:not(:first-child){/*все кроме первого елемента будут удалены*/
		display: none;
	}
	.line3 img:not(:first-child){/*все кроме первого елемента будут удалены*/
		display: none;
	}
}